/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 45 version
*/

.container {
    max-width: 1170px;
    padding: 0px 0px;
    margin: 0px auto;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

header {
    width: 100%;
    position: absolute;
    background-color: #ffffff46;
    min-height: 90px;
}

.header-box {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo {
    margin-right: 60px;
}

.header-nav ul li {
    float: left;
    margin-right: 20px;
}

/* side menu stsrt */

.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 58px;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 300px;
    background-color: hsla(202, 96%, 52%, 0.418);
    height: 100%;
    top: 0;
    left: -300px;
    -webkit-transition: left .2s;
    -o-transition: left .2s;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
    z-index: 10;
}

.hidden-menu-ticker:checked~.btn-menu {
    left: 160px;
}

.hidden-menu-ticker:checked~.hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    opacity: 0;
}

/* side menu end */

/* start style sec-1 */

ul li a {
    text-decoration: none;
    width: 514px;
    color: #9daeb6;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

ul li a:hover {
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #36aeea;
}

ul li a:focus {
    color: #36aeea;
}

ul li a:active {
    color: #ffffff;
}

.sec-1 {
    padding: 220px 0px 150px 0px;
    background-image: url('../img/no-man-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sec-1--box {
    border: 3px solid #fff;
    padding: 40px 35px;
}

p {
    max-width: 440px;
    font-family: 'Open Sans', sans-serif;
    color: #dadfe3;
    text-align: left;
    line-height: normal;
    padding-top: 30px;
}

.sec-1-title--white {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    display: block;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 8px;
}

.sec-1-title--blue {
    font-size: 60px;
    font-family: "Bringin";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 2.5px;
    word-spacing: -0.6px;
    text-align: left;
    color: #56c7ff;
}

.btn {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.btn-blue-sm {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
    padding: 10px 35px;
    margin-bottom: 15px;
    min-width: 152px;
    z-index: 1000;
}

.btn-blue-sm:hover {
    background: #36aeea;
    color: #fff;
    border: 3px solid #36aeea;
}

.btn-blue-sm:active {
    color: #fff;
    border: 3px solid #36aeea;
}

.btn-blue-lg {
    background: #36aeea;
    color: #fff;
    border: 3px solid transparent;
    padding: 15px 0px;
    margin-top: 30px;
    min-width: 250px;
}

.btn-blue-lg:hover {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

.btn-blue-lg:active {
    background: transparent;
    color: #ffffff;
    border: 3px solid #36aeea;
}

.btn-blue-lg:focus {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

/* end style sec-1 */

/* start style sec-2 */

.sec-2-box {
    height: 667px;
    background-color: #f6f4f4;
    background-image: url("/img/Vector_Smart_Object.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 975px;
}

h3 {
    margin-top: 300px;
    height: 16px;
    text-align: left;
    color: #2c2e37;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2.34px;
}

.text_about {
    width: 352px;
    height: 66px;
    color: #949494;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.img1 {
    width: 806px;
    height: 570px;
    z-index: 1;
    position: absolute;
    top: 654px;
    left: 654px;
}

.img2 {
    width: 350px;
    height: 350px;
    z-index: 2;
    position: absolute;
    top: 966px;
    left: 564px;
}

.read_more {
    background: #36aeea;
    color: #fff;
    border: 3px solid transparent;
    padding: 15px 0px;
    margin-top: 30px;
    min-width: 130px;
}

.read_more:hover {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

.read_more:active {
    background: transparent;
    color: #ffffff;
    border: 3px solid #36aeea;
}

/* end style sec-2 */

h3::before {
    content: url(../img/waves_copy.png);
    position: relative;
    top: -47px;
    left: 0px;
}

/*Our journal*/

.title-jurnal {
    margin-top: 90px;
    text-align: center;
}

.title-jurnal::before {
    content: url(../img/waves_copy.png);
    position: relative;
    top: -47px;
    left: 115px;
}

.our-journal_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(6, 6, 6, 0.13);
            box-shadow: 0px 0px 21px 1px rgba(6, 6, 6, 0.13);
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 75px auto 90px;
    background-color: rgb(255, 255, 255);
}

.journal-item {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
    min-height: 380px;
}

.journal-bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.journal-bg1 {
    background-image: url(../img/post1.jpg);
}

.journal-bg2 {
    background-image: url(../img/post2.jpg);
}

.journal-bg3 {
    background-image: url(../img/post3.jpg);
}

.journal-content1 {
    position: relative;
}

.journal-content2 {
    position: relative;
}

.journal-content2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    right: -10px;
    border-top: 50px solid transparent;
    border-left: 50px solid white;
    border-bottom: 50px solid transparent;
}

.journal-content3 {
    position: relative;
}

.journal-content3::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 10px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid rgb(255, 255, 255);
}

.journal_bg_icon {
    width: 82px;
    height: 82px;
}

.journal_content {
    position: absolute;
    z-index: 10;
    padding: 0px 0px;
    text-align: center;
    min-height: 290px;
}

.journal_content_sign {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #16b5ef;
    padding-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
}

.journal_content_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16.15px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #212121;
    margin-bottom: 17px;
    text-transform: uppercase;
    min-height: 70px;
}

.journal_title1 {
    padding: 0 35px;
}

.journal_title2 {
    padding: 0 60px;
}

.journal_title3 {
    padding: 0 85px;
}

.line-through {
    text-decoration: line-through;
}

.journal_content_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22.8px;
    word-spacing: 2.2px;
    color: #777777;
    padding: 0 56px 35px;
    min-height: 85px;
}

.journal_content_number {
    font-style: italic;
    font-size: 14px;
    line-height: 17.1px;
    color: #212121;
    text-align: center;
    padding-top: 0px;
}

/* end our-journal */

/*Form*/

.form {
    background-image: url(../img/bg_form.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.form-div {
    padding-top: 110px;
    padding-bottom: 235px;
    margin-left: 20px;
}

.form-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    word-spacing: 2px;
    line-height: 26px;
    color: #949494;
    padding-bottom: 25px;
    word-break: break-all;
}

.text-block {
    display: block;
}

.form_area {
    max-width: 852px;
    height: 62px;
    background-color: white;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}

.your_name {
    width: 275px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #848484;
    margin-left: 20px;
}

input.your_name:focus {
    outline: none;
}

.your_phone {
    width: 300px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #848484;
    margin-left: 20px;
}

input.your_phone:focus {
    outline: none;
}

.button_form {
    background-color: #36aeea;
    border: 3px solid transparent;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 225px;
    height: 56px;
    margin-right: 3px;
}

.button_form:hover {
    background-color: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

.button_form:focus {
    background-color: #36aeea;
    color: white;
    border: 3px solid transparent;
    outline: none;
}

.button_form:active {
    background-color: white;
    color: #36aeea;
    border: 3px soli transparent;
    outline: none;
}

.form_comment {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #36aeea;
}

/*How we work*/










/*Travel with us*/

.title-travel {
    margin-top: 90px;
    text-align: center;
}

.title-travel::before {
    content: url(../img/waves_copy.png);
    position: relative;
    top: -47px;
    left: 119px;
}

.travel {
    background-image: url(../img/bg-travel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1077px;
}

.sec-6-div {
    position: relative;
}

/*slider*/

div.slick-track {
    height: 382px;
}

div.slick-slide {
    margin-left: 17.5px;
    margin-right: 17.5px;
    min-height: 382px;
    min-width: 200px;
}

button.slick-prev.slick-arrow:before {
    color: #bcbcbc;
}

button.slick-next.slick-arrow:before {
    color: #bcbcbc;
}

button.slick-prev:before {
    content: '→';
}

button.slick-next:before {
    content: '←';
}

/*slider*/

.slider {
    position: absolute;
    z-index: 2;
    margin-top: 95px;
    width: 100%;
}

.slider_star {
    height: 15px;
    padding-top: 15px;
    padding-left: 20px;
}

.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
}

.slider_carpathian {
    max-width: 200px;
    height: 382px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(../img/card1_Carpathian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.slider_alps {
    max-width: 200px;
    height: 382px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(../img/card2_Alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.slider_pyrenees {
    max-width: 200px;
    height: 382px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(../img/card3_Pyrenees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.slider_rocky {
    max-width: 200px;
    height: 382px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(../img/card4_Rocky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.slider_kavkaz {
    max-width: 200px;
    height: 382px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(../img/card5_Kavkaz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.slider_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: white;
    padding-top: 130px;
    padding-left: 20px;
}

.slider_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 23px;
    padding-left: 20px;
}

.price {
    width: 200px;
    height: 62px;
    -webkit-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
    background-color: rgb(0 0 0 / 20%);
    position: absolute;
    bottom: 0px;
}

.price1 {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    padding-top: 23px;
    padding-left: 20px;
}

.price2 {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    line-height: 22px;
    color: white;
    padding-top: 23px;
    padding-right: 15px;
}

/*Gallery*/

.title-gallery {
    margin-top: 90px;
    text-align: center;
}

.title-gallery::before {
    content: url(../img/waves_copy.png);
    position: relative;
    top: -47px;
    left: 89px;
}

.gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 2vw;
    -ms-grid-columns: 1fr 2vw 1.5fr 2vw 2fr;
    grid-template-columns: 1fr 1.5fr 2fr;
    margin: 70px auto;
}

.gallery-grid>div:nth-child(1) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

.gallery-grid>div:nth-child(4) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
}

.gallery-grid>div:nth-child(2) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.gallery-grid>div:nth-child(5) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
}

.gallery-grid>div:nth-child(3) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

.gallery-grid>div:nth-child(6) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
}

/*Brends*/

.brends {
    background-color: #f8f9fa;
}

.brends-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 auto;
}

.card-brend {
    padding: 75px 0 70px 0;
}

.slack {
    width: 80px;
    padding-right: 10px;
}

.adobe {
    width: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.google {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.facebook {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.spotify {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.nike {
    width: 70px;
    padding-left: 10px;
}

/*Clients say*/




/* footer */