.container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0px auto;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

header {
    background: #fff;
    min-height: 50px;
}

.header-box {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo {
    margin-right: 60px;
}

.header-nav ul li {
    float: left;
    margin-right: 20px;
}

/* side menu stsrt */

.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 300px;
    background-color: hsla(202, 96%, 52%, 0.418);
    height: 100%;
    top: 0;
    left: -300px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}

.hidden-menu-ticker:checked~.btn-menu {
    left: 160px;
}

.hidden-menu-ticker:checked~.hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    opacity: 0;
}

/* side menu end */

/* start style sec-1 */

ul li a {
    color: #9daeb6;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
}

ul li a:hover {
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #36aeea;
}

.sec-1 {
    padding: 220px 0px 150px 0px;
    background-image: url('../img/no-man-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sec-1--box {
    border: 3px solid #fff;
    padding: 40px 35px;
}

p {
    width: 445px;
    font-family: "Open Sans Regular";
    color: #dadfe3;
    text-align: left;
    line-height: normal;
    padding-top: 30px;
}

.sec-1-title--white {
    font-size: 50px;
    font-family: "Open Sans Bold";
    text-transform: uppercase;
    color: white;
    display: block;
    line-height: 0.4;
}

.sec-1-title--blue {
    font-size: 60px;
    font-family: "Bringin";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.7;
    letter-spacing: 1.32px;
    text-align: left;
    color: #56c7ff;
}

.btn {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.btn-blue-sm {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
    padding: 10px 35px;
    margin-bottom: 15px;
    min-width: 152px;
}

.btn-blue-sm:hover {
    background: #36aeea;
    color: #fff;
    border: 3px solid #36aeea;
}

.btn-blue-sm:active {
    color: #fff;
    border: 3px solid #36aeea;
}

.btn-blue-lg {
    background: #36aeea;
    color: #fff;
    border: 3px solid transparent;
    padding: 15px 0px;
    margin-top: 30px;
    min-width: 250px;
}

.btn-blue-lg:hover {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

.btn-blue-lg:active {
    background: transparent;
    color: #ffffff;
    border: 3px solid #36aeea;
}

.btn-blue-lg:focus {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

/* end style sec-1 */

/* start style sec-2 */

.sec-2-box {
    height: 667px;
    background-color: #f6f4f4;
    background-image: url("/img/Vector_Smart_Object.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 975px;
}

h3 {
    margin-top: 300px;
    height: 16px;
    color: #2c2e37;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2.34px;
}

.text_about {
    width: 352px;
    height: 66px;
    color: #949494;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.img1 {
    width: 806px;
    height: 570px;
    z-index: 1;
    position: absolute;
    top: 713px;
    left: 654px;
}

.img2 {
    width: 350px;
    height: 350px;
    z-index: 2;
    position: absolute;
    top: 1026px;
    left: 564px;
}

.read_more {
    background: #36aeea;
    color: #fff;
    border: 3px solid transparent;
    padding: 15px 0px;
    margin-top: 30px;
    min-width: 130px;
}

.read_more:hover {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

.read_more:active {
    background: transparent;
    color: #ffffff;
    border: 3px solid #36aeea;
}

/* end style sec-2 */